.triangle {
    position: relative;
    margin: auto;
    width: 100%;
    height: 24px;
    @media (max-width: 768px) {
        display: none;
    }
}

.triangle::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%) rotate(180deg);
    border-left: 64px solid transparent;
    border-right: 64px solid transparent;
    border-bottom: 24px solid #2C2C2C;
    @media (max-width: 768px) {
        display: none;
    }
}
.triangle::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    z-index: 9;
    transform: translateX(-50%) rotate(180deg);
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 25px solid white;
    @media (max-width: 768px) {
        display: none;
    }
}

.hide-top-shadow {
    position: absolute;
    bottom: 24px;
    left: 200;
    z-index: 20;
    height: 10px;
    width: 100%;
    background-color: #2C2C2C;
}

.custom-shadow {
    box-shadow: 10px 0 15px rgba(0,0,0,0.5), -10px 0 15px rgba(0,0,0,0.5);
}

.custom-shadow-hover:hover {
    box-shadow: 10px 0 15px rgba(255, 255, 255, 0.15), -10px 0 15px rgba(255, 255, 255, 0.15);
}