.triangle {
    position: relative;
    margin: auto;
    width: 100%;
    height: 24px;
}

.triangle::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%) rotate(180deg);
    border-left: 64px solid transparent;
    border-right: 64px solid transparent;
    border-bottom: 24px solid #2C2C2C;
}
.triangle::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    z-index: 9; /* Make sure this is less than the z-index of ::before */
    transform: translateX(-50%) rotate(180deg);
    border-left: 65px solid transparent; /* Make this slightly larger than ::before */
    border-right: 65px solid transparent; /* Make this slightly larger than ::before */
    border-bottom: 25px solid white; /* Make this slightly larger than ::before and choose your border color */
}

.hide-top-shadow {
    position: absolute;
    bottom: 24px;
    left: 200;
    z-index: 20;
    height: 10px;
    width: 100%;
    background-color: #2C2C2C;
}

.custom-shadow {
    box-shadow: 10px 0 15px rgba(255, 255, 255, 0.15), -10px 0 15px rgba(255, 255, 255, 0.15);
}

.custom-shadow-hover:hover {
    box-shadow: 10px 0 15px rgba(255, 255, 255, 0.15), -10px 0 15px rgba(255, 255, 255, 0.15);
}